.btn {
  --background: none !important;
  height: 30px !important;
  --color: var(--ion-color-primary-contrast, #fff);
  box-shadow: none !important;
  overflow: hidden;
  border: none !important;
  --box-shadow: none !important;
}

.ctp {
  text-transform: none !important;
  width: 90%;
  height: 140%;
}

.ctr {
  display: flex;
  width: 40px;
  margin-top: 10px !important;
  height: 20px;
  justify-content: center;
}

.des {
  margin-left: 15px !important;
}

.cardlist {
  background-color: beige !important;
}

.totaltxt {
  font-weight: bold;
  font-size: 28px;
}

.icon-inner {
  display: none !important;
}

.cb {
  position: absolute;
  left: 85%;
  top: 53%;
}

.backbtn {
  color: #fff !important;
}

.list {
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 15px;
}

.bawah {
  height: 10%;
}

.page {
  display: fixed;
  overflow: hidden !important;
  justify-content: center;
  align-items: center;
}

.toolbar {
  max-width: 1024px;
}
.content {
  max-width: 1024px;
}

.totalhrg {
  font-weight: bold;
  font-size: 20px;
}

.test {
  box-shadow: none !important;
  background-color: #0081a7;
  width: 100%;
  height: 5rem;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}
