.container-produk {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.container-img-produk {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.img-produk {
  height: 600px;
  object-fit: cover;
  margin-bottom: 10px;
}

.container-informasi-produk {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0 -5px 5px -5px #746e6ef4;
}

.infromasi-produk {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container-btn-produk {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-btn-produk {
  max-width: 1024px;
  width: 100%;
  background-color: white;
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  justify-content: center;
}

.btn-love {
  height: 50px;
}

.btn-chat-produk {
  height: 50px;
  color: black;
  margin-left: 50px;
}

.btn-cart-produk {
  height: 50px;
  width: 700px;
  margin-right: 20px;
  margin-left: 20px;
}

.btn-buy-produk {
  width: 180px;
  height: 50px;
  margin-right: 50px;
}

@media screen and (max-width: 320px) {
  .img-produk {
    width: 200px;
    height: 200px;
  }

  .container-informasi-produk {
    margin-left: 15px;
    margin-right: 15px;
  }

  .h2-produk {
    font-size: medium;
  }

  .h3-produk {
    font-size: large;
  }

  .h4-produk {
    margin-top: -5px;
    font-size: small;
  }

  .btn-chat-produk {
    margin-left: 0px;
  }

  .btn-cart-produk {
    width: 120px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .btn-buy-produk {
    width: 100px;
    height: 50px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 325px) {
  .img-produk {
    width: 200px;
    height: 200px;
  }

  .container-informasi-produk {
    margin-left: 25px;
    margin-right: 25px;
  }

  .h2-produk {
    font-size: medium;
  }

  .h3-produk {
    font-size: large;
  }

  .h4-produk {
    margin-top: -5px;
    font-size: small;
  }

  .btn-chat-produk {
    margin-left: 0px;
  }

  .btn-cart-produk {
    width: 120px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .btn-buy-produk {
    width: 100px;
    height: 50px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 400px) {
  .img-produk {
    width: 250px;
    height: 250px;
  }

  .container-informasi-produk {
    margin-left: 25px;
    margin-right: 25px;
  }

  .h1-produk {
    font-size: 30px;
  }

  .h2-produk {
    font-size: 25px;
  }

  .h3-produk {
    font-size: 25px;
  }

  .h4-produk {
    margin-top: -5px;
    font-size: large;
  }

  .btn-chat-produk {
    margin-left: 0px;
  }

  .btn-cart-produk {
    width: 170px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .btn-buy-produk {
    width: 120px;
    height: 50px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 750px) {
  .img-produk {
    width: 300px;
    height: 300px;
  }

  .container-informasi-produk {
    margin-left: 35px;
    margin-right: 35px;
  }
  .h1-produk {
    font-size: 30px;
  }

  .h2-produk {
    font-size: 25px;
  }

  .h3-produk {
    font-size: 25px;
  }

  .h4-produk {
    margin-top: -5px;
    font-size: large;
  }

  .btn-chat-produk {
    margin-left: 0px;
  }

  .btn-cart-produk {
    width: 450px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .btn-buy-produk {
    width: 180px;
    height: 50px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 950px) {
  .img-produk {
    width: 350px;
    height: 350px;
  }

  .container-informasi-produk {
    margin-left: 35px;
    margin-right: 35px;
  }
  .h1-produk {
    font-size: 30px;
  }

  .h2-produk {
    font-size: 25px;
  }

  .h3-produk {
    font-size: 25px;
  }

  .h4-produk {
    margin-top: -5px;
    font-size: large;
  }

  .btn-chat-produk {
    margin-left: 0px;
  }

  .btn-cart-produk {
    width: 600px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .btn-buy-produk {
    width: 180px;
    height: 50px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .container-informasi-produk {
    margin-left: 35px;
    margin-right: 35px;
  }

  .img-produk {
    width: 600px;
    height: 600px;
    object-fit: cover;
  }
  .h1-produk {
    font-size: 30px;
  }

  .h2-produk {
    font-size: 25px;
  }

  .h3-produk {
    font-size: 25px;
  }

  .h4-produk {
    margin-top: -5px;
    font-size: large;
  }

  .btn-chat-produk {
    margin-left: 0px;
  }

  .btn-cart-produk {
    width: 700px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .btn-buy-produk {
    width: 200px;
    height: 50px;
    margin-right: 0px;
  }
}

@media screen and (max-height: 600px) {
  .img-produk {
    width: 250px;
    height: 250px;
  }

  .content-btn-produk {
    box-shadow: 0 -5px 5px -5px #746e6ef4;
  }

  .container-informasi-produk {
    margin-left: 35px;
    margin-right: 35px;
  }

  .h1-produk {
    font-size: 30px;
  }

  .h2-produk {
    margin-top: -2px;
    font-size: 25px;
  }

  .h3-produk {
    font-size: 25px;
  }

  .h4-produk {
    margin-top: -5px;
    font-size: large;
  }

  .btn-chat-produk {
    margin-left: 0px;
  }

  .btn-cart-produk {
    width: 700px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .btn-buy-produk {
    width: 200px;
    height: 50px;
    margin-right: 0px;
  }
}
