.ion-h1{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}

.container-group{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.button-shape{
    border-radius: 10px;
    width: 350px;
    margin-bottom: 20px;
    font-size: 25px;
    height: 56px;
    color: black;
    transition-duration: .4s;
    cursor: pointer;
    letter-spacing: normal;
    text-transform: none;
}

.button-shape-signin{
    border-radius: 50px;
    width: 350px;
    height: 56px;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-color-primary);
    color: white;
    font-size: 25px;
    display: flex;
    transition-duration: .4s;
    cursor: pointer;
}

.button-shape-signin:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-shape-signin:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

ion-button{
    --border-radius: 10px;
}

.button-shape:hover{
    background-color: var(--ion-color-primary);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-shape:active {
    background-color: var(--ion-color-primary);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.img-select-login{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}

.button-text{
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}

