.profile-toko {
  display: flex;
  flex-direction: row;
  background-color: solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  padding: 20px;
}

.image-container-toko {
  display: flex;
  align-items: center;
}

.image-toko {
  display: flex;
  align-items: flex-start;
  width: 350px;
  height: 250px;
  border-radius: 20px;
  margin-left: 10px;
}

.detail-toko {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.line-toko {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
  padding-left: 40px;
}

.product-card {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 190px);
  row-gap: 20px;
}

.btn-chat-toko {
  margin-left: -5px;
}

.h3-toko {
  margin-top: -5px;
  font-size: small;
}

@media screen and (max-width: 320px) {
  .profile-toko {
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
  }

  .line-toko {
    padding-right: 20px;
    padding-left: 20px;
  }

  .product-card {
    grid-template-columns: repeat(2, 160px);
    margin-left: 10px;
    row-gap: 20px;
  }

  .image-toko {
    width: 90px;
    height: 90px;
  }
  .h1-toko {
    font-size: medium;
  }
  .h3-toko {
    font-size: small;
  }
  .btn-chat-toko {
    font-size: x-small;
  }
}

@media screen and (min-width: 375px) {
  .profile-toko {
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
  }

  .line-toko {
    padding-right: 20px;
    padding-left: 20px;
  }

  .h1-toko {
    font-size: medium;
  }
  .h3-toko {
    font-size: medium;
  }
  .btn-chat-toko {
    font-size: x-small;
  }

  .product-card {
    grid-template-columns: repeat(2, 160px);
    margin: auto;
    row-gap: 20px;
  }

  .image-toko {
    width: 150px;
    height: 100px;
  }
}

@media screen and (min-width: 500px) {
  .product-card {
    grid-template-columns: repeat(3, 160px);
    margin: auto;
    row-gap: 20px;
  }

  .h1-toko {
    font-size: large;
  }
  .h3-toko {
    font-size: large;
  }
  .btn-chat-toko {
    font-size: small;
  }

  .image-toko {
    width: 200px;
    height: 150px;
  }
}

@media screen and (min-width: 750px) {
  .product-card {
    grid-template-columns: repeat(4, 180px);
    margin: auto;
    row-gap: 20px;
  }
}

@media screen and (min-width: 900px) {
  .product-card {
    grid-template-columns: repeat(5, 180px);
    margin: auto;
    row-gap: 20px;
  }
}
